main {
  max-width: 1400px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.main-container {
  width: 100%;
  margin-top: 100px;
}

.main-container h1 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.main-container .main-p {
  font-size: 75px;
  margin-left: 7px;
  margin-bottom: 15px;
  font-weight: 700;
}

.main-container .second-p {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 100px;
}

.main-container .color-p {
  color: #8257e6;
}

.main-container .setaScroll:hover {
  cursor: pointer;
}

.main-container .seta {
  width: 40px;
  height: 40px;
  background-image: url('../imgs/down-arrows.png');
  background-size: contain;
  margin: 0 auto;
  position: relative;
  animation: downArrow 0.8s ease-in-out infinite alternate;
}

.main-container .infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container img {
  max-width: 500px;
}

@keyframes downArrow {
  0% {
    top: 0px;
  }
  100% {
    top: 20px;
  }
}

@media (max-width: 1000px) {
  .main-container .main-p {
    font-size: 50px;
  }
}

@media (max-width: 760px) {
  main {
    align-items: center;
    padding-right: 20px;
    height: 100vh;
  }

  .main-container img {
    max-width: 300px;
  }

  .main-container .infos {
    flex-direction: column;
    justify-content: center;
  }

  .main-container .main-p {
    font-size: 40px;
  }

  .main-container h1 {
    font-size: 17px;
  }

  .main-container .second-p {
    margin-bottom: 0px;
    font-size: 21px;
  }

  .main-container img {
    max-width: 300px;
    margin-bottom: 20px;
  }
}

@media (max-width: 360px) {
  .main-container .main-p {
    font-size: 35px;
  }

  .main-container h1 {
    font-size: 16px;
  }

  .main-container .second-p {
    font-size: 20px;
  }

  .main-container img {
    max-width: 250px;
  }
}

@media (max-width: 320px) {
  main {
    margin-top: 20px;
  }

  .main-container .main-p {
    font-size: 28px;
  }

  .main-container h1 {
    font-size: 14px;
  }

  .main-container .second-p {
    font-size: 18px;
  }

  .main-container img {
    max-width: 230px;
  }

  .main-container .seta {
    width: 30px;
    height: 30px;
  }
}
